
@font-face {
  font-family: 'RepriseStamp';
  src: url('RepriseStamp.eot?#iefix') format('embedded-opentype'),  url('RepriseStamp.woff') format('woff'), url('RepriseStamp.ttf')  format('truetype'), url('RepriseStamp.svg#RepriseStamp') format('svg');
  font-weight: normal;
  font-style: normal;
}
